<%= stylesheet_link_tag 'hiyo', :media => "all" %>

<br><br><br><br><br>

<section class="fashionstory-sec" id="fs02">

  <section id="neo-ethnic" class="new-taste bg-change-fs02-1 bg-change-fs02-2">
    <div class="disp1">
      <div class="img fade-in-img-fs02">
        <figure>
          <img src="https://cdn.mainichi.jp/vol1/2019/12/29/20191229dde001010011000p/9.jpg" alt=""  id="neo">
          <a href="https://etro.norennoren.jp/products/detail.php?product_id=14370" target="_blank"></a>
        </figure>
      </div>
      <div class="gif1 fade-in-img-fs02">
        <figure>
            <img alt="" src="https://www.arttowermito.or.jp/topics/images/img_40344/Beethoven.jpg">
          </figure>
        </div>
        <div class="gif2 fade-in-img-fs02">
          <figure>
            <img alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Beethoven_Hornemann.jpg/200px-Beethoven_Hornemann.jpg">
          </figure>
        </div>
        <div class="gif3 fade-in-img-fs02">
          <figure>
            <img alt="ワンプレートご飯" src="https://munetsuguhall.com/media/003/202101/04b9b8a9089e7faa7f8ccbd62d47fe0a.jpg">
          </figure>
        </div>
      </div>
      <div class="disp2 fade-in-txt-fs02">
        <h4>花柄で描く幻想的な世界へ</h4>
        <p>繊細なタッチのフラワープリントが叶えるのは、異国情緒漂うエキゾチックなスタイル。さらりと纏うだけでさまになるプリントドレスは強い味方。</p>
        <dl>
          <dt><a href="https://etro.norennoren.jp/" target="_blank">ETRO</a></dt>
          <dd>
            <a href="https://etro.norennoren.jp/products/detail.php?product_id=14370" target="_blank">ドレス ￥201,960（税込）</a>
          </dd>
        </dl>
      </div>
  </section>
</section>