<%= stylesheet_link_tag 'tomato', :media => "all" %>
  <div id="splash">
    <div id="splash_text" style="z-index:100"></div>
  </div>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>

<!DOCTYPE html>
<html lang="ja">

<section id="first-block">

</section>

    
