
.post-container {
    color: rgb(82, 168, 74);
    margin: 50px auto;
    width: 50%;
    border: solid #ffffff00;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff00;
  }

  input[type="text"] {
    width: 95%;
    height: 40px;
  }
  input[type="submit"] {
    width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgba(75, 182, 43, 0.705); //ボタンに表示する文字
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.274);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  
  
  @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
  
  
  
  
  
  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: serif;
    font-size: 1.3em;
    width: 450px;
    height: 40px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    color: #000000;
    
    border: solid 1px #000000;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  
  
  textarea {
    width: 450px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: rgb(253, 253, 253);//フォームの箱の中の色
    color: #000000;//文字の色
    font-family: serif;
    font-size: 1.3em;
    
    border: solid 1px #000000;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: #d3d3d3;
  
  }
  
  
  
  //ここは後でもう一度やる
  #submit {
    width: 500px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: serif;
    font-size: 1em;
    color: #e76000;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #2afd00;
    border-top: none;
  }

  body {
    background : #d3d3d3;
  }

  #user_email.col-md-12_form-control  {
    position: relative;
    border: 1px solid gray;
    border-radius: 0px;
    padding: 5px;
    font-size: 100%;
    margin:2px;
    cursor:pointer;
    background : #ffffff;
    width: 100% ;
  }
#user_password.col-md-12  {
    position: relative;
    border: 1px solid gray;
    border-radius: 0px;
    padding: 5px;
    font-size: 100%;
    margin:2px;
    cursor:pointer;
    background : #ffffff;
    width: 100% ;
 }