a {
    color: rgb(98, 231, 86); 
}


body {
    color:rgb(0, 0, 0)
    
}



    .title-container {
        text-align: center;
    }


    .bg_test {
        background-size:contain;
        background-position:center;
        background-size:cover;  
        height:500px;  
        width:100%;
        background-image: url(Pexels.jpg);    /* 背景画像指定 */
        
    }

    .bg_test {
        text-align:  center;    /* 文字中央寄せ */
        padding:  150px;        /* 余白指定 */
        border: solid 2px;      /* 枠線指定 */
    }