// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#second-block {

    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
  }

  h3 {
    margin-bottom: 30px;
  }

  .tasks-container {
    display:flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

  .task {
    margin: 12px;
    padding-top: 20px;
    width: 25%;
    
  }


  .relaxes-container {
    display:flex;
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.relax {


    width: auto;
    padding-top: 50px;
  }

#third-block {
  flex-wrap: wrap;
    text-align: center;
    height: 200px;
    background-color: #fff !important;
  }

.right-container {
  margin: 0;
  padding: 10px;
}

.tasks_pro{
  width: 50% ;
  margin: 0 auto ;
}

.relax img {
  width: 100%;

}

.task {
  width: 100%;
}
.tasks-container{
  width: 80%;
  margin: 0 auto;
}

.relax img {
  object-fit: cover;
}

.col-lg-4 {
  margin: 0 auto ;
  align-items: center;
  height: auto;
  padding: 15px !important;
}